// Colors
$white: #fff;
$black: #000;
$grey1:#3a3a3a;
$gray2:#eee;
$gray3:#f7f7f7;
$gray4:#ddd;
$light-gray:#acacac;


// color variation

$color-primary: #E56207;
$color-secondary: #333333;

// Font variation
$regular: 'Montserrat';